html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#clock-face {
  font-size: 6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.btn-container {
  margin-top: 48px;
}

.btn {
  font-size: 2em;
  border: 2px outset;
  outline: none;
  cursor: pointer;
}

.btn:active {
  border: 2px inset;
}